In [1]:
import numpy as np
import time
import jcs_paper_util as util
import pandas as pd

In [2]:
util.matplotlib_setup()
util.default_num_reps = 100
util.eval_error_D = util.eval_effectiveness
util.approx_methods.insert(1, 'Exact KS')

In [3]:
experiments = [
    [{'sample_size': (10 ** np.arange(3.5, 5, 0.5)).astype(int)}, 'Sample size', 'sample_size'],
    [{'memo_units': (10 ** np.arange(1, 2.5, 0.5)).astype(int)}, 'Memory units', 'memo_units'],
    [{'mean_diff': 10. ** np.arange(-2, -0.5, 0.5)}, 'Difference in distribution mean', 'mean_diff'],
    [{'std_diff': 10. ** np.arange(-2, -0.5, 0.5), 'mean_diff':[0]}, 'Difference in distribution standard deviation', 'std_diff'],
]

for e in experiments:
    print('>' * 10, e[2])
    results = util.get_results(**e[0])
    timestamp = int(time.time())
    e.append('effectiveness_{}_{}.pkl'.format(e[2], timestamp))
    results.to_pickle('./data_pdf_files/' + e[-1])

>>>>>>>>>> sample_size

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 900/900 [1:41:35<00:00,  6.77s/it]

>>>>>>>>>> memo_units

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 900/900 [43:25<00:00,  2.89s/it]

>>>>>>>>>> mean_diff

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 900/900 [1:27:00<00:00,  5.80s/it]

>>>>>>>>>> std_diff

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 900/900 [1:30:08<00:00,  6.01s/it]

In [4]:
for e in experiments:
    f = e[-1]
    results = pd.read_pickle('./data_pdf_files/' + f)
    exp_type = f[f.find('_') + 1 : f.rfind('_')]
    print('>' * 10, exp_type, f)
    res = util.plot_table(results, exp_type, './data_pdf_files/effectiveness_' + exp_type)
    for k in res:
        print(k)
        display(res[k])

>>>>>>>>>> sample_size effectiveness_sample_size_1653364710.pkl
normal

,GreedyKS,Exact KS,Reservoir Sampling,IKS + RS,Lall + DDSketch
$10^{3.5}$,3/0/1051.4,3/0/1040.0,7/75/1074.3,10/66/980.0,7/0/562.7
$10^4$,10/0/1604.2,11/0/1539.1,12/76/2639.2,11/74/3114.2,39/0/389.7
$10^{4.5}$,8/0/2421.9,9/0/2321.7,16/68/9747.6,26/58/7619.6,98/0/180.5

uniform

,GreedyKS,Exact KS,Reservoir Sampling,IKS + RS,Lall + DDSketch
$10^{3.5}$,5/7/1282.9,6/5/1268.5,5/81/1113.1,14/63/1010.0,14/0/558.3
$10^4$,6/0/1951.6,6/0/1881.3,9/76/2822.1,19/64/2413.6,33/0/422.7
$10^{4.5}$,14/0/2590.3,15/0/2486.7,18/64/9033.1,35/54/4206.7,100/0/nan

exp

,GreedyKS,Exact KS,Reservoir Sampling,IKS + RS,Lall + DDSketch
$10^{3.5}$,2/0/372.1,2/0/364.6,5/62/1230.0,14/63/1011.9,5/0/327.5
$10^4$,4/0/572.3,4/0/553.0,9/65/3463.6,30/48/3404.5,21/0/424.6
$10^{4.5}$,9/0/952.8,10/0/924.8,13/57/9471.5,36/45/7799.5,74/0/443.8

>>>>>>>>>> memo_units effectiveness_memo_units_1653367315.pkl
normal

,GreedyKS,Exact KS,Reservoir Sampling,IKS + RS,Lall + DDSketch
$10^1$,12/0/1778.3,14/0/1523.9,15/78/2638.1,19/66/4144.3,100/0/nan
$10^{1.5}$,10/0/1665.7,7/0/1436.8,17/72/4112.1,23/61/2943.6,100/0/nan
$10^2$,10/0/1625.0,10/0/1518.7,14/73/3309.5,19/64/2848.4,51/0/517.0

uniform

,GreedyKS,Exact KS,Reservoir Sampling,IKS + RS,Lall + DDSketch
$10^1$,10/0/2231.6,13/0/1770.7,13/82/5173.0,25/67/3624.4,100/0/nan
$10^{1.5}$,12/0/2212.1,11/0/1888.1,11/81/2941.2,23/62/2915.7,100/0/nan
$10^2$,6/0/1837.1,6/0/1763.1,12/76/4000.2,20/64/2790.9,28/0/423.4

exp

,GreedyKS,Exact KS,Reservoir Sampling,IKS + RS,Lall + DDSketch
$10^1$,6/0/646.5,8/0/569.5,15/80/3245.0,19/71/3174.4,100/0/nan
$10^{1.5}$,6/0/583.8,6/0/534.2,13/78/3387.3,32/55/2190.4,100/0/nan
$10^2$,6/0/571.5,7/0/556.3,12/59/2959.0,19/47/2992.9,20/0/454.6

>>>>>>>>>> mean_diff effectiveness_mean_diff_1653372536.pkl
normal

,GreedyKS,Exact KS,Reservoir Sampling,IKS + RS,Lall + DDSketch
$10^{-2}$,7/83/2801.6,9/79/3592.6,12/80/3228.5,23/60/4069.4,53/0/993.6
$10^{-1.5}$,7/56/3865.4,6/52/4055.3,9/78/2167.5,18/72/2700.6,40/0/728.5
$10^{-1}$,10/0/1537.1,10/0/1490.4,9/71/3076.8,22/55/2911.0,42/0/493.1

uniform

,GreedyKS,Exact KS,Reservoir Sampling,IKS + RS,Lall + DDSketch
$10^{-2}$,6/83/2646.0,6/80/2640.1,15/75/1974.5,26/58/2488.4,28/0/586.0
$10^{-1.5}$,11/49/5277.6,8/49/5137.4,10/76/3721.1,21/67/2107.4,39/0/645.7
$10^{-1}$,6/0/1872.4,6/0/1796.3,12/73/3164.2,18/65/3908.1,39/0/498.3

exp

,GreedyKS,Exact KS,Reservoir Sampling,IKS + RS,Lall + DDSketch
$10^{-2}$,9/76/4318.7,9/73/3905.0,9/83/3751.8,19/70/1884.0,24/1/1959.9
$10^{-1.5}$,13/0/2547.4,10/0/2432.5,15/77/1082.6,19/69/3447.8,29/0/1515.9
$10^{-1}$,13/0/574.7,13/0/553.9,16/61/3228.4,30/42/3175.0,24/0/455.6

>>>>>>>>>> std_diff effectiveness_std_diff_1653377944.pkl
normal

,GreedyKS,Exact KS,Reservoir Sampling,IKS + RS,Lall + DDSketch
$10^{-2}$,10/82/2556.2,9/82/2728.2,11/77/3588.7,21/61/2860.1,42/0/919.8
$10^{-1.5}$,11/75/5049.4,12/71/4925.5,11/84/1610.2,25/62/2693.9,45/0/835.1
$10^{-1}$,6/0/2734.6,8/0/2614.4,11/80/2407.8,27/62/2446.9,49/0/577.2

uniform

,GreedyKS,Exact KS,Reservoir Sampling,IKS + RS,Lall + DDSketch
$10^{-2}$,7/85/3923.8,8/82/3430.9,12/78/3602.4,24/63/4368.3,34/0/667.9
$10^{-1.5}$,9/50/6083.8,8/41/6246.8,11/81/3488.1,17/72/2612.1,36/0/489.5
$10^{-1}$,6/0/1494.4,6/0/1449.9,9/81/3314.4,27/59/2195.1,36/0/346.0

exp

,GreedyKS,Exact KS,Reservoir Sampling,IKS + RS,Lall + DDSketch
$10^{-2}$,4/82/3124.1,4/80/3683.9,14/73/2042.2,27/59/1971.1,35/0/1540.7
$10^{-1.5}$,12/0/3031.1,12/0/2901.2,14/73/3424.4,17/68/2861.9,33/0/992.1
$10^{-1}$,8/0/668.2,8/0/661.1,11/73/2623.6,19/61/3922.8,34/0/530.4