In [1]:
import numpy as np
import time
import jcs_paper_util as util
import pandas as pd

In [2]:
util.matplotlib_setup()
util.default_num_reps = 100
util.eval_error_D = util.eval_effectiveness
util.approx_methods = ['Reservoir Sampling', 'Exact KS','GreedyKS', 'Lall + DDSketch', 'IKS + Reservoir']

In [3]:
experiments = [
    [{'sample_size': (10 ** np.arange(3, 4.5, 0.5)).astype(int)}, 'Sample size', 'sample_size'],
    [{'memo_perct': 10. ** np.arange(-3, -1.5, 0.5)}, 'Memory fraction', 'memo_perct'],
    [{'mean_diff': 10. ** np.arange(-2, -0.5, 0.5)}, 'Difference in distribution mean', 'mean_diff'],
    [{'std_diff': 10. ** np.arange(-2, -0.5, 0.5), 'mean_diff':[0]}, 'Difference in distribution standard deviation', 'std_diff'],
]

for e in experiments:
    print('>' * 10, e[2])
    kwargs = {'sample_size': (10**4,)}
    kwargs.update(e[0])
    results = util.get_results(**kwargs)
    timestamp = int(time.time())
    e.append('effectiveness_{}_{}.pkl'.format(e[2], timestamp))
    results.to_pickle('./data_pdf_files/' + e[-1])

>>>>>>>>>> sample_size

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 900/900 [28:35<00:00,  1.91s/it]

>>>>>>>>>> memo_perct

900it [42:57,  2.86s/it]

>>>>>>>>>> mean_diff

900it [1:26:24,  5.76s/it]

>>>>>>>>>> std_diff

900it [1:24:10,  5.61s/it]

In [5]:
for e in experiments:
    f = 'effectiveness_' + e[-1]  + '.pkl'
    results = pd.read_pickle('./data_pdf_files/' + f)
    exp_type = f[f.find('_') + 1 : f.rfind('.')]
    print('>' * 10, exp_type)
    res = util.plot_table(results, exp_type, './data_pdf_files/effectiveness_' + exp_type)
    for k in res:
        print(k)
        display(res[k])

>>>>>>>>>> sample_size
normal

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^3$,9/81/217.0,5/45/487.0,6/53/521.4,94/0/19.8,11/81/144.9
$10^{3.5}$,10/82/1122.2,12/0/1130.4,14/1/1233.9,72/0/104.8,17/62/1055.6
$10^4$,12/69/3247.2,12/0/1504.3,13/0/1566.7,36/0/482.9,21/55/2622.8

uniform

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^3$,11/83/267.2,8/53/481.6,10/60/511.4,91/0/21.9,10/80/365.7
$10^{3.5}$,12/81/726.9,9/8/1283.4,11/11/1334.5,80/0/57.8,20/63/700.2
$10^4$,10/81/4131.2,7/0/1966.7,7/0/2066.5,29/0/497.8,23/62/3511.3

exp

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^3$,5/88/515.3,7/0/255.4,6/0/283.4,16/0/133.5,5/83/300.2
$10^{3.5}$,9/85/884.7,10/0/366.6,11/0/387.8,16/0/276.9,20/63/1184.8
$10^4$,21/51/4066.2,7/0/566.5,7/0/586.1,14/0/525.9,23/54/3692.5

>>>>>>>>>> memo_perct
normal

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,11/81/3226.8,19/0/1536.4,18/0/1975.0,100/0/nan,23/63/4068.6
$10^{-2.5}$,16/75/2941.1,19/0/1526.0,17/0/1655.0,100/0/nan,34/51/2077.9
$10^{-2}$,7/74/2933.2,10/0/1442.4,10/0/1487.4,42/0/470.0,19/59/2576.5

uniform

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,10/83/1039.4,8/0/1726.8,8/0/2275.8,100/0/nan,15/73/2684.0
$10^{-2.5}$,15/78/3177.3,7/0/1811.7,9/0/2000.8,100/0/nan,24/56/2851.1
$10^{-2}$,14/69/3296.6,10/0/1960.6,11/0/2039.7,32/0/364.6,23/58/2009.2

exp

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,15/81/2658.2,10/0/581.5,11/0/661.3,100/0/nan,18/76/3838.3
$10^{-2.5}$,16/76/2813.1,4/0/562.4,5/0/601.3,42/0/333.0,24/59/2685.1
$10^{-2}$,8/70/4517.7,12/0/576.9,15/0/596.6,19/0/552.3,22/56/3697.1

>>>>>>>>>> mean_diff
normal

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-2}$,6/83/4245.6,6/86/4008.8,6/88/3995.2,46/0/902.6,22/67/2596.2
$10^{-1.5}$,5/84/2078.2,8/33/4461.9,8/40/4619.8,38/0/746.9,31/53/2995.7
$10^{-1}$,10/70/2503.2,6/0/1471.0,7/0/1507.1,39/0/479.7,15/67/3087.1

uniform

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-2}$,7/87/1637.8,10/75/4239.4,10/79/4099.7,42/0/740.5,23/62/2357.9
$10^{-1.5}$,8/84/3067.2,6/48/4951.5,7/52/5033.2,45/0/529.1,19/66/3088.3
$10^{-1}$,11/77/3467.1,7/0/1745.7,8/0/1810.5,46/0/406.2,23/60/2803.6

exp

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-2}$,8/80/1821.9,14/64/4516.0,10/70/4389.8,20/9/3929.9,23/58/3377.6
$10^{-1.5}$,7/86/2256.1,8/0/2371.5,9/0/2505.2,19/0/1970.0,29/57/2641.6
$10^{-1}$,9/62/3182.3,6/0/569.4,8/0/584.6,14/0/530.3,18/57/4048.1

>>>>>>>>>> std_diff
normal

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-2}$,16/78/2190.5,14/76/3254.5,14/79/2487.3,37/0/958.2,21/66/3452.1
$10^{-1.5}$,9/84/3602.7,9/72/3447.2,10/74/3073.8,40/0/869.4,20/63/3172.3
$10^{-1}$,10/80/2686.8,8/0/2966.7,7/0/3107.5,37/0/758.7,22/63/2514.6

uniform

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-2}$,8/83/2225.8,2/84/4790.1,2/85/4801.1,35/0/669.6,22/63/3408.7
$10^{-1.5}$,11/79/3922.6,5/43/6326.9,5/49/6249.7,39/0/520.0,17/68/3178.7
$10^{-1}$,18/70/3054.5,7/0/1399.4,9/0/1443.1,39/0/290.0,17/66/3004.4

exp

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-2}$,11/80/3072.9,12/79/4424.8,12/81/4141.9,34/0/1566.1,23/62/2674.0
$10^{-1.5}$,13/80/3898.7,10/0/3135.4,10/0/3270.1,33/0/1261.4,18/66/3621.6
$10^{-1}$,13/71/3090.6,8/0/678.5,8/0/682.8,22/0/532.7,21/63/2786.3