In [1]:
import numpy as np
import time
import jcs_paper_util as util
import pandas as pd

In [2]:
util.matplotlib_setup()
util.default_num_reps = 100
util.eval_error_D = util.eval_effectiveness
util.approx_methods = ['Reservoir Sampling', 'Exact KS','GreedyKS', 'Lall + DDSketch', 'IKS + Reservoir']

In [3]:
experiments = [
    [{'sample_size': (10 ** np.arange(3, 4.5, 0.5)).astype(int)}, 'Sample size', 'sample_size'],
    [{'memo_perct': 10. ** np.arange(-3, -1.5, .5)}, 'Memory fraction', 'memo_perct'],
    [{'mean_diff': 10. ** np.arange(-3, 0)}, 'Difference in distribution mean', 'mean_diff'],
    [{'std_diff': 10. ** np.arange(-3, 0), 'mean_diff':[0]}, 'Difference in distribution standard deviation', 'std_diff'],
]

for e in experiments:
    print('>' * 10, e[2])
    kwargs = {'sample_size': (10**4,)}
    kwargs.update(e[0])
    results = util.get_results(**kwargs)
    timestamp = int(time.time())
    results.to_pickle('./data_pdf_files/effectiveness_{}_{}.pkl'.format(e[2], timestamp))
#     util.plot_errors(
#         results,
#         ['title_norm', 'title_uniform', 'title_expon'],
#         'time drift detecteds',
#         e[1],
#         e[2],
#         "./data_&_pdf_files/results_{}.pdf".format(e[2]),
#         ylog=False
#         )
    res = util.plot_table(results, e[2])
    for k in res:
        print(k)
        display(res[k])

>>>>>>>>>> sample_size

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 900/900 [28:34<00:00,  1.90s/it]

normal

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^3$,11 / 78 / 304.00,13 / 35 / 433.44,12 / 43 / 495.78,96 / 0 / 21.75,4 / 91 / 246.40
$10^{3.5}$,8 / 79 / 1013.15,12 / 0 / 1112.77,10 / 0 / 1262.80,75 / 0 / 81.96,18 / 72 / 1200.30
$10^4$,16 / 60 / 2663.50,9 / 0 / 1364.56,8 / 0 / 1429.92,41 / 0 / 443.15,15 / 66 / 4008.32

uniform

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^3$,5 / 86 / 180.89,10 / 42 / 522.81,8 / 65 / 494.81,96 / 0 / 37.75,11 / 75 / 378.14
$10^{3.5}$,12 / 73 / 513.13,8 / 5 / 1269.56,8 / 7 / 1444.79,82 / 0 / 71.17,21 / 67 / 901.83
$10^4$,16 / 75 / 2716.44,9 / 0 / 1740.36,8 / 0 / 1851.86,38 / 0 / 446.11,26 / 58 / 3813.44

exp

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^3$,11 / 86 / 237.33,5 / 0 / 252.67,4 / 0 / 292.27,20 / 0 / 136.74,13 / 74 / 343.00
$10^{3.5}$,15 / 69 / 802.38,6 / 0 / 378.38,5 / 0 / 404.36,11 / 0 / 314.66,22 / 59 / 1110.58
$10^4$,13 / 58 / 3170.52,14 / 0 / 529.43,14 / 0 / 555.15,18 / 0 / 522.54,18 / 54 / 2701.54

>>>>>>>>>> memo_perct

900it [41:12,  2.75s/it]

normal

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,13 / 77 / 1652.70,19 / 0 / 1509.95,15 / 0 / 1809.51,100 / 0 / nan,16 / 79 / 3721.60
$10^{-2.5}$,17 / 72 / 2487.27,11 / 0 / 1503.17,8 / 0 / 1683.90,100 / 0 / nan,27 / 59 / 2715.86
$10^{-2}$,17 / 67 / 3387.38,13 / 0 / 1517.02,12 / 0 / 1570.62,42 / 0 / 467.72,25 / 57 / 3318.50

uniform

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,17 / 77 / 981.17,16 / 0 / 1758.85,9 / 0 / 2234.09,100 / 0 / nan,20 / 77 / 2402.67
$10^{-2.5}$,13 / 74 / 3316.77,19 / 0 / 1815.12,15 / 0 / 2025.64,100 / 0 / nan,30 / 60 / 2547.20
$10^{-2}$,12 / 67 / 3349.62,10 / 0 / 1774.94,8 / 0 / 1883.88,38 / 0 / 404.05,22 / 70 / 2364.00

exp

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,16 / 77 / 2336.00,16 / 0 / 530.70,14 / 0 / 593.97,100 / 0 / nan,18 / 75 / 3538.57
$10^{-2.5}$,18 / 70 / 2867.00,21 / 0 / 574.13,19 / 0 / 627.33,52 / 0 / 352.19,26 / 51 / 2706.96
$10^{-2}$,15 / 59 / 3185.04,7 / 0 / 572.39,7 / 0 / 594.24,10 / 0 / 535.24,12 / 63 / 3264.68

>>>>>>>>>> mean_diff

900it [1:45:17,  7.02s/it]

normal

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,10 / 79 / 3689.09,10 / 79 / 2719.82,8 / 82 / 2228.20,33 / 0 / 952.75,14 / 76 / 2989.50
$10^{-2}$,12 / 78 / 3377.50,11 / 74 / 3773.67,11 / 77 / 3853.58,39 / 0 / 978.56,24 / 63 / 2440.77
$10^{-1}$,12 / 65 / 2832.57,7 / 0 / 1546.65,5 / 0 / 1624.29,37 / 0 / 547.75,21 / 60 / 2962.89

uniform

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,17 / 76 / 5020.29,16 / 79 / 3331.00,16 / 80 / 3240.25,39 / 0 / 657.61,27 / 62 / 3277.27
$10^{-2}$,15 / 74 / 3441.91,10 / 81 / 2596.22,7 / 86 / 2630.43,29 / 0 / 639.21,24 / 57 / 2369.05
$10^{-1}$,13 / 72 / 2227.40,5 / 0 / 1886.88,4 / 0 / 1978.34,24 / 0 / 436.18,21 / 62 / 4367.82

exp

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,9 / 80 / 2155.00,11 / 79 / 2317.60,10 / 81 / 2662.11,25 / 0 / 2540.04,26 / 60 / 3223.14
$10^{-2}$,17 / 71 / 2888.67,9 / 70 / 4103.29,8 / 72 / 4293.05,19 / 6 / 3775.27,23 / 65 / 2918.83
$10^{-1}$,16 / 57 / 3363.19,6 / 0 / 567.93,4 / 0 / 581.10,10 / 0 / 532.89,22 / 55 / 2827.00

>>>>>>>>>> std_diff

900it [1:39:09,  6.61s/it]

normal

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,23 / 69 / 3423.38,10 / 84 / 1858.83,10 / 86 / 1903.00,44 / 0 / 768.46,18 / 64 / 3769.39
$10^{-2}$,15 / 80 / 3298.00,13 / 71 / 3469.88,12 / 75 / 3440.85,48 / 0 / 888.88,19 / 64 / 2412.00
$10^{-1}$,15 / 67 / 2191.56,13 / 0 / 2694.52,13 / 0 / 2896.25,41 / 0 / 559.39,20 / 67 / 2094.08

uniform

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,11 / 75 / 2792.29,8 / 83 / 3372.11,8 / 84 / 3485.75,37 / 0 / 646.02,23 / 58 / 2566.53
$10^{-2}$,19 / 73 / 3208.38,10 / 78 / 4052.58,10 / 80 / 3328.60,39 / 0 / 597.59,24 / 64 / 2160.33
$10^{-1}$,14 / 71 / 4448.73,9 / 0 / 1371.84,6 / 0 / 1462.50,34 / 0 / 400.70,22 / 64 / 2815.00

exp

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,13 / 78 / 2507.89,6 / 83 / 1967.82,5 / 86 / 2426.78,25 / 0 / 1425.04,16 / 62 / 3637.64
$10^{-2}$,11 / 78 / 3727.64,4 / 83 / 4002.31,4 / 84 / 4084.58,21 / 0 / 1356.71,21 / 63 / 2334.31
$10^{-1}$,18 / 61 / 3745.14,11 / 0 / 651.13,10 / 0 / 676.22,31 / 0 / 505.65,26 / 59 / 3393.13

In [4]:
files = [
    'results_mean_diff_1647468847.pkl',
    'results_memo_perct_1647465380.pkl',
    'results_sample_size_1647464384.pkl',
    'results_std_diff_1647472002.pkl',
]

for f in files:
    results = pd.read_pickle('data_pdf_files/' + f)
    exp_type = f[f.find('_') + 1 : f.rfind('_')]
    print('>' * 10, exp_type)
    res = util.plot_table(results, exp_type)
    for k in res:
        print(k)
        display(res[k])

>>>>>>>>>> mean_diff
normal

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,100 / 0 / nan,11 / 78 / 4033.55,11 / 80 / 3564.22,52 / 0 / 1003.67,25 / 57 / 2700.28
$10^{-2}$,100 / 0 / nan,11 / 71 / 3490.17,11 / 73 / 3963.88,46 / 0 / 982.31,22 / 70 / 2252.25
$10^{-1}$,100 / 0 / nan,11 / 0 / 1638.84,11 / 0 / 1710.10,44 / 0 / 547.30,27 / 49 / 3233.08

uniform

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,100 / 0 / nan,17 / 75 / 2297.62,16 / 77 / 2418.57,42 / 0 / 647.40,24 / 64 / 3146.50
$10^{-2}$,100 / 0 / nan,9 / 82 / 2843.67,8 / 85 / 2076.14,35 / 0 / 712.12,19 / 68 / 2911.08
$10^{-1}$,100 / 0 / nan,8 / 0 / 1698.33,8 / 0 / 1795.20,32 / 0 / 421.96,18 / 66 / 3585.75

exp

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,100 / 0 / nan,11 / 81 / 3250.88,10 / 84 / 3016.67,22 / 0 / 2491.73,20 / 67 / 2582.00
$10^{-2}$,100 / 0 / nan,10 / 64 / 4006.96,9 / 68 / 4175.09,12 / 6 / 2929.24,21 / 59 / 1717.45
$10^{-1}$,100 / 0 / nan,9 / 0 / 546.34,9 / 0 / 567.75,9 / 0 / 511.51,27 / 40 / 2934.42

>>>>>>>>>> memo_perct
normal

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,100 / 0 / nan,20 / 0 / 1422.44,14 / 0 / 1709.22,100 / 0 / nan,19 / 72 / 1109.11
$10^{-2.5}$,100 / 0 / nan,11 / 0 / 1400.67,8 / 0 / 1542.04,100 / 0 / nan,22 / 58 / 2105.25
$10^{-2}$,100 / 0 / nan,15 / 0 / 1505.68,14 / 0 / 1578.64,46 / 0 / 433.17,31 / 43 / 3076.77

uniform

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,100 / 0 / nan,13 / 0 / 1769.97,8 / 0 / 2191.33,100 / 0 / nan,18 / 73 / 1577.33
$10^{-2.5}$,100 / 0 / nan,16 / 0 / 1841.15,15 / 0 / 2064.05,100 / 0 / nan,26 / 60 / 3782.21
$10^{-2}$,100 / 0 / nan,9 / 0 / 1867.77,9 / 0 / 1953.47,33 / 0 / 433.52,19 / 53 / 2807.21

exp

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,100 / 0 / nan,15 / 0 / 575.79,10 / 0 / 682.29,100 / 0 / nan,24 / 62 / 4047.36
$10^{-2.5}$,100 / 0 / nan,14 / 0 / 547.31,13 / 0 / 586.86,46 / 0 / 319.07,30 / 55 / 2066.07
$10^{-2}$,100 / 0 / nan,15 / 0 / 580.26,15 / 0 / 600.68,17 / 0 / 535.89,24 / 52 / 3870.50

>>>>>>>>>> sample_size
normal

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^3$,100 / 0 / nan,3 / 38 / 490.88,2 / 53 / 524.96,97 / 0 / 22.33,9 / 88 / 110.67
$10^{3.5}$,100 / 0 / nan,7 / 4 / 1058.26,6 / 4 / 1215.91,75 / 0 / 106.36,18 / 68 / 1337.36
$10^4$,100 / 0 / nan,6 / 0 / 1469.83,5 / 0 / 1536.01,40 / 0 / 433.58,23 / 55 / 3327.05

uniform

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^3$,100 / 0 / nan,9 / 50 / 341.90,9 / 62 / 436.83,96 / 0 / 16.00,10 / 82 / 326.62
$10^{3.5}$,100 / 0 / nan,9 / 0 / 1185.71,9 / 3 / 1309.80,80 / 0 / 85.05,14 / 72 / 838.43
$10^4$,100 / 0 / nan,10 / 0 / 1784.10,10 / 0 / 1867.40,39 / 0 / 472.77,20 / 62 / 3930.17

exp

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^3$,100 / 0 / nan,6 / 0 / 259.62,4 / 0 / 299.22,18 / 0 / 140.17,10 / 78 / 230.42
$10^{3.5}$,100 / 0 / nan,11 / 0 / 370.69,11 / 0 / 397.09,16 / 0 / 302.55,22 / 65 / 784.15
$10^4$,100 / 0 / nan,5 / 0 / 554.44,5 / 0 / 581.49,7 / 0 / 517.18,20 / 54 / 2941.62

>>>>>>>>>> std_diff
normal

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,100 / 0 / nan,16 / 78 / 1339.67,15 / 79 / 1358.33,42 / 0 / 752.86,30 / 54 / 2999.62
$10^{-2}$,100 / 0 / nan,11 / 77 / 4794.50,11 / 79 / 5474.70,51 / 0 / 792.69,21 / 63 / 3471.69
$10^{-1}$,100 / 0 / nan,12 / 0 / 3024.82,11 / 0 / 3136.18,37 / 0 / 747.97,30 / 61 / 2141.22

uniform

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,100 / 0 / nan,19 / 73 / 2694.62,16 / 76 / 624.38,37 / 0 / 644.10,13 / 71 / 4031.31
$10^{-2}$,100 / 0 / nan,8 / 80 / 2520.83,7 / 82 / 2453.64,41 / 0 / 587.25,19 / 67 / 3156.57
$10^{-1}$,100 / 0 / nan,7 / 0 / 1361.39,6 / 0 / 1427.24,33 / 0 / 350.72,23 / 58 / 2428.47

exp

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,100 / 0 / nan,11 / 76 / 2434.69,9 / 78 / 2589.54,24 / 0 / 1263.68,23 / 59 / 3371.39
$10^{-2}$,100 / 0 / nan,12 / 77 / 5608.00,9 / 83 / 4569.50,29 / 0 / 1249.20,16 / 67 / 3265.65
$10^{-1}$,100 / 0 / nan,9 / 0 / 661.98,8 / 0 / 682.07,41 / 0 / 555.39,20 / 61 / 3459.00

In [5]:
# import pandas as pd

In [6]:
# data = pd.read_pickle('data_&_pdf_files/results_memo_perct_1644860428.pkl')

In [7]:
# data

In [8]:
# def f(x):
#     return '{:d} / {:d} / {:.2f}'.format((x < 0).sum(), x.isna().sum(), x[x >= 0].mean())
#     #return '%d / %d / %.2f' % ((x < 0).sum(), x.isna().sum(), x[x >= 0].mean())

# result = pd.DataFrame()
# for k, v in data[data.distrib == 'normal'].groupby('memo_perct'):
# #     print(k)
# #     display(v[util.approx_methods])
#     #print(v[util.approx_methods].to_latex())
# #     display(pd.DataFrame(v[util.approx_methods].apply(f).rename({0: 'qtd_negative', 1:'qtd_inf'})).T)
# #     display(pd.DataFrame(v[util.approx_methods].apply(f)))
#     result[k] = pd.DataFrame(v[util.approx_methods].apply(f))
# result = result.rename(columns={0.001: '10**-3', 0.0031622776601683794:'10**-2.5', 0.01:'10**-2'}).T

In [9]:
# result

In [11]:
files = [
    'effectiveness_sample_size_1649507316.pkl',
    'effectiveness_memo_perct_1649509789.pkl',
    'effectiveness_mean_diff_1649516107.pkl',
    'effectiveness_std_diff_1649522057.pkl',
]

for f in files:
    results = pd.read_pickle('data_pdf_files/' + f)
    exp_type = f[f.find('_') + 1 : f.rfind('_')]
    print('>' * 10, exp_type)
    res = util.plot_table(results, exp_type)
    for k in res:
        print(k)
        display(res[k])

>>>>>>>>>> sample_size
normal

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^3$,11 / 78 / 304.00,13 / 35 / 433.44,12 / 43 / 495.78,96 / 0 / 21.75,4 / 91 / 246.40
$10^{3.5}$,8 / 79 / 1013.15,12 / 0 / 1112.77,10 / 0 / 1262.80,75 / 0 / 81.96,18 / 72 / 1200.30
$10^4$,16 / 60 / 2663.50,9 / 0 / 1364.56,8 / 0 / 1429.92,41 / 0 / 443.15,15 / 66 / 4008.32

uniform

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^3$,5 / 86 / 180.89,10 / 42 / 522.81,8 / 65 / 494.81,96 / 0 / 37.75,11 / 75 / 378.14
$10^{3.5}$,12 / 73 / 513.13,8 / 5 / 1269.56,8 / 7 / 1444.79,82 / 0 / 71.17,21 / 67 / 901.83
$10^4$,16 / 75 / 2716.44,9 / 0 / 1740.36,8 / 0 / 1851.86,38 / 0 / 446.11,26 / 58 / 3813.44

exp

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^3$,11 / 86 / 237.33,5 / 0 / 252.67,4 / 0 / 292.27,20 / 0 / 136.74,13 / 74 / 343.00
$10^{3.5}$,15 / 69 / 802.38,6 / 0 / 378.38,5 / 0 / 404.36,11 / 0 / 314.66,22 / 59 / 1110.58
$10^4$,13 / 58 / 3170.52,14 / 0 / 529.43,14 / 0 / 555.15,18 / 0 / 522.54,18 / 54 / 2701.54

>>>>>>>>>> memo_perct
normal

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,13 / 77 / 1652.70,19 / 0 / 1509.95,15 / 0 / 1809.51,100 / 0 / nan,16 / 79 / 3721.60
$10^{-2.5}$,17 / 72 / 2487.27,11 / 0 / 1503.17,8 / 0 / 1683.90,100 / 0 / nan,27 / 59 / 2715.86
$10^{-2}$,17 / 67 / 3387.38,13 / 0 / 1517.02,12 / 0 / 1570.62,42 / 0 / 467.72,25 / 57 / 3318.50

uniform

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,17 / 77 / 981.17,16 / 0 / 1758.85,9 / 0 / 2234.09,100 / 0 / nan,20 / 77 / 2402.67
$10^{-2.5}$,13 / 74 / 3316.77,19 / 0 / 1815.12,15 / 0 / 2025.64,100 / 0 / nan,30 / 60 / 2547.20
$10^{-2}$,12 / 67 / 3349.62,10 / 0 / 1774.94,8 / 0 / 1883.88,38 / 0 / 404.05,22 / 70 / 2364.00

exp

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,16 / 77 / 2336.00,16 / 0 / 530.70,14 / 0 / 593.97,100 / 0 / nan,18 / 75 / 3538.57
$10^{-2.5}$,18 / 70 / 2867.00,21 / 0 / 574.13,19 / 0 / 627.33,52 / 0 / 352.19,26 / 51 / 2706.96
$10^{-2}$,15 / 59 / 3185.04,7 / 0 / 572.39,7 / 0 / 594.24,10 / 0 / 535.24,12 / 63 / 3264.68

>>>>>>>>>> mean_diff
normal

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,10 / 79 / 3689.09,10 / 79 / 2719.82,8 / 82 / 2228.20,33 / 0 / 952.75,14 / 76 / 2989.50
$10^{-2}$,12 / 78 / 3377.50,11 / 74 / 3773.67,11 / 77 / 3853.58,39 / 0 / 978.56,24 / 63 / 2440.77
$10^{-1}$,12 / 65 / 2832.57,7 / 0 / 1546.65,5 / 0 / 1624.29,37 / 0 / 547.75,21 / 60 / 2962.89

uniform

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,17 / 76 / 5020.29,16 / 79 / 3331.00,16 / 80 / 3240.25,39 / 0 / 657.61,27 / 62 / 3277.27
$10^{-2}$,15 / 74 / 3441.91,10 / 81 / 2596.22,7 / 86 / 2630.43,29 / 0 / 639.21,24 / 57 / 2369.05
$10^{-1}$,13 / 72 / 2227.40,5 / 0 / 1886.88,4 / 0 / 1978.34,24 / 0 / 436.18,21 / 62 / 4367.82

exp

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,9 / 80 / 2155.00,11 / 79 / 2317.60,10 / 81 / 2662.11,25 / 0 / 2540.04,26 / 60 / 3223.14
$10^{-2}$,17 / 71 / 2888.67,9 / 70 / 4103.29,8 / 72 / 4293.05,19 / 6 / 3775.27,23 / 65 / 2918.83
$10^{-1}$,16 / 57 / 3363.19,6 / 0 / 567.93,4 / 0 / 581.10,10 / 0 / 532.89,22 / 55 / 2827.00

>>>>>>>>>> std_diff
normal

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,23 / 69 / 3423.38,10 / 84 / 1858.83,10 / 86 / 1903.00,44 / 0 / 768.46,18 / 64 / 3769.39
$10^{-2}$,15 / 80 / 3298.00,13 / 71 / 3469.88,12 / 75 / 3440.85,48 / 0 / 888.88,19 / 64 / 2412.00
$10^{-1}$,15 / 67 / 2191.56,13 / 0 / 2694.52,13 / 0 / 2896.25,41 / 0 / 559.39,20 / 67 / 2094.08

uniform

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,11 / 75 / 2792.29,8 / 83 / 3372.11,8 / 84 / 3485.75,37 / 0 / 646.02,23 / 58 / 2566.53
$10^{-2}$,19 / 73 / 3208.38,10 / 78 / 4052.58,10 / 80 / 3328.60,39 / 0 / 597.59,24 / 64 / 2160.33
$10^{-1}$,14 / 71 / 4448.73,9 / 0 / 1371.84,6 / 0 / 1462.50,34 / 0 / 400.70,22 / 64 / 2815.00

exp

,Reservoir Sampling,Exact KS,GreedyKS,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,13 / 78 / 2507.89,6 / 83 / 1967.82,5 / 86 / 2426.78,25 / 0 / 1425.04,16 / 62 / 3637.64
$10^{-2}$,11 / 78 / 3727.64,4 / 83 / 4002.31,4 / 84 / 4084.58,21 / 0 / 1356.71,21 / 63 / 2334.31
$10^{-1}$,18 / 61 / 3745.14,11 / 0 / 651.13,10 / 0 / 676.22,31 / 0 / 505.65,26 / 59 / 3393.13