In [1]:
import numpy as np
import time
import jcs_paper_util as util
import pandas as pd

In [2]:
util.matplotlib_setup()
util.default_num_reps = 100
util.eval_error_D = util.eval_effectiveness
util.approx_methods = ['Reservoir Sampling', 'Exact KS','GreedyKS', 'Lall + DDSketch', 'IKS + Reservoir']

In [3]:
experiments = [
    [{'sample_size': (10 ** np.arange(3, 4.5, 0.5)).astype(int)}, 'Sample size', 'sample_size'],
    [{'memo_perct': 10. ** np.arange(-3, -1.5, 0.5)}, 'Memory fraction', 'memo_perct'],
    [{'mean_diff': 10. ** np.arange(-2, -0.5, 0.5)}, 'Difference in distribution mean', 'mean_diff'],
    [{'std_diff': 10. ** np.arange(-2, -0.5, 0.5), 'mean_diff':[0]}, 'Difference in distribution standard deviation', 'std_diff'],
]

for e in experiments:
    print('>' * 10, e[2])
    kwargs = {'sample_size': (10**4,)}
    kwargs.update(e[0])
    results = util.get_results(**kwargs)
    timestamp = int(time.time())
    e.append('effectiveness_{}_{}.pkl'.format(e[2], timestamp))
    results.to_pickle('./data_pdf_files/' + e[-1])

>>>>>>>>>> sample_size

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 900/900 [28:35<00:00,  1.91s/it]

>>>>>>>>>> memo_perct

900it [42:57,  2.86s/it]

>>>>>>>>>> mean_diff

900it [1:26:24,  5.76s/it]

>>>>>>>>>> std_diff

900it [1:24:10,  5.61s/it]

In [13]:
for e in experiments:
    f = e[-1]
    results = pd.read_pickle('./data_pdf_files/' + f)
    exp_type = f[f.find('_') + 1 : f.rfind('_')]
    print('>' * 10, exp_type)
    res = util.plot_table(results, exp_type, './data_pdf_files/effectiveness_' + exp_type)
    for k in res:
        print(k)
        display(res[k])

>>>>>>>>>> sample_size
normal

,GreedyKS,Reservoir Sampling,Lall + DDSketch,IKS + Reservoir
$10^3$,6 / 53 / 521.44,9 / 81 / 217.00,94 / 0 / 19.83,11 / 81 / 144.88
$10^{3.5}$,14 / 1 / 1233.86,10 / 82 / 1122.25,72 / 0 / 104.82,17 / 62 / 1055.57
$10^4$,13 / 0 / 1566.70,12 / 69 / 3247.16,36 / 0 / 482.94,21 / 55 / 2622.83

uniform

,GreedyKS,Reservoir Sampling,Lall + DDSketch,IKS + Reservoir
$10^3$,10 / 60 / 511.37,11 / 83 / 267.17,91 / 0 / 21.89,10 / 80 / 365.70
$10^{3.5}$,11 / 11 / 1334.54,12 / 81 / 726.86,80 / 0 / 57.80,20 / 63 / 700.18
$10^4$,7 / 0 / 2066.48,10 / 81 / 4131.22,29 / 0 / 497.76,23 / 62 / 3511.33

exp

,GreedyKS,Reservoir Sampling,Lall + DDSketch,IKS + Reservoir
$10^3$,6 / 0 / 283.41,5 / 88 / 515.29,16 / 0 / 133.54,5 / 83 / 300.25
$10^{3.5}$,11 / 0 / 387.82,9 / 85 / 884.67,16 / 0 / 276.90,20 / 63 / 1184.76
$10^4$,7 / 0 / 586.09,21 / 51 / 4066.21,14 / 0 / 525.90,23 / 54 / 3692.48

>>>>>>>>>> memo_perct
normal

,GreedyKS,Reservoir Sampling,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,18 / 0 / 1975.04,11 / 81 / 3226.75,100 / 0 / nan,23 / 63 / 4068.64
$10^{-2.5}$,17 / 0 / 1655.02,16 / 75 / 2941.11,100 / 0 / nan,34 / 51 / 2077.87
$10^{-2}$,10 / 0 / 1487.38,7 / 74 / 2933.16,42 / 0 / 470.02,19 / 59 / 2576.45

uniform

,GreedyKS,Reservoir Sampling,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,8 / 0 / 2275.80,10 / 83 / 1039.43,100 / 0 / nan,15 / 73 / 2684.00
$10^{-2.5}$,9 / 0 / 2000.84,15 / 78 / 3177.29,100 / 0 / nan,24 / 56 / 2851.10
$10^{-2}$,11 / 0 / 2039.66,14 / 69 / 3296.59,32 / 0 / 364.63,23 / 58 / 2009.16

exp

,GreedyKS,Reservoir Sampling,Lall + DDSketch,IKS + Reservoir
$10^{-3}$,11 / 0 / 661.28,15 / 81 / 2658.25,100 / 0 / nan,18 / 76 / 3838.33
$10^{-2.5}$,5 / 0 / 601.32,16 / 76 / 2813.12,42 / 0 / 332.98,24 / 59 / 2685.06
$10^{-2}$,15 / 0 / 596.61,8 / 70 / 4517.73,19 / 0 / 552.28,22 / 56 / 3697.09

>>>>>>>>>> mean_diff
normal

,GreedyKS,Reservoir Sampling,Lall + DDSketch,IKS + Reservoir
$10^{-2}$,6 / 88 / 3995.17,6 / 83 / 4245.64,46 / 0 / 902.61,22 / 67 / 2596.18
$10^{-1.5}$,8 / 40 / 4619.85,5 / 84 / 2078.18,38 / 0 / 746.85,31 / 53 / 2995.69
$10^{-1}$,7 / 0 / 1507.06,10 / 70 / 2503.20,39 / 0 / 479.67,15 / 67 / 3087.11

uniform

,GreedyKS,Reservoir Sampling,Lall + DDSketch,IKS + Reservoir
$10^{-2}$,10 / 79 / 4099.73,7 / 87 / 1637.83,42 / 0 / 740.47,23 / 62 / 2357.87
$10^{-1.5}$,7 / 52 / 5033.22,8 / 84 / 3067.25,45 / 0 / 529.07,19 / 66 / 3088.27
$10^{-1}$,8 / 0 / 1810.50,11 / 77 / 3467.08,46 / 0 / 406.19,23 / 60 / 2803.59

exp

,GreedyKS,Reservoir Sampling,Lall + DDSketch,IKS + Reservoir
$10^{-2}$,10 / 70 / 4389.80,8 / 80 / 1821.92,20 / 9 / 3929.94,23 / 58 / 3377.63
$10^{-1.5}$,9 / 0 / 2505.22,7 / 86 / 2256.14,19 / 0 / 1970.05,29 / 57 / 2641.57
$10^{-1}$,8 / 0 / 584.58,9 / 62 / 3182.34,14 / 0 / 530.31,18 / 57 / 4048.12

>>>>>>>>>> std_diff
normal

,GreedyKS,Reservoir Sampling,Lall + DDSketch,IKS + Reservoir
$10^{-2}$,14 / 79 / 2487.29,16 / 78 / 2190.50,37 / 0 / 958.21,21 / 66 / 3452.08
$10^{-1.5}$,10 / 74 / 3073.81,9 / 84 / 3602.71,40 / 0 / 869.38,20 / 63 / 3172.29
$10^{-1}$,7 / 0 / 3107.51,10 / 80 / 2686.80,37 / 0 / 758.75,22 / 63 / 2514.60

uniform

,GreedyKS,Reservoir Sampling,Lall + DDSketch,IKS + Reservoir
$10^{-2}$,2 / 85 / 4801.08,8 / 83 / 2225.78,35 / 0 / 669.57,22 / 63 / 3408.67
$10^{-1.5}$,5 / 49 / 6249.67,11 / 79 / 3922.60,39 / 0 / 520.03,17 / 68 / 3178.67
$10^{-1}$,9 / 0 / 1443.14,18 / 70 / 3054.50,39 / 0 / 290.02,17 / 66 / 3004.41

exp

,GreedyKS,Reservoir Sampling,Lall + DDSketch,IKS + Reservoir
$10^{-2}$,12 / 81 / 4141.86,11 / 80 / 3072.89,34 / 0 / 1566.09,23 / 62 / 2674.00
$10^{-1.5}$,10 / 0 / 3270.09,13 / 80 / 3898.71,33 / 0 / 1261.39,18 / 66 / 3621.56
$10^{-1}$,8 / 0 / 682.77,13 / 71 / 3090.56,22 / 0 / 532.68,21 / 63 / 2786.31